<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <!-- ADD CONFIGURATION APP SETTING BELOW -->


  <!-- Add application resources as key value pair, example below
      <add key="mainWindowScaleFactor" value="1.25f"/>
    Get Values using code: ConfigurationManager.AppSettings[key]
  -->



    <appSettings>
      
    </appSettings>

</configuration>